<!-- <div class="form-edit-leave">
    <div class="ui-g">
        <div class="ui-g-2 text-right">Mã nhân viên</div>
        <div class="ui-g-3">{{leave.maNV}}</div>

        <div class="ui-g-3 text-right">Họ và tên</div>
        <div class="ui-g-4">{{leave.fullName}}</div>
    </div>
    <div class="ui-g">
        <div class="ui-g-2 text-right">Phòng</div>
        <div class="ui-g-3">{{leave.departmentDeptName}}</div>

        <div class="ui-g-3 text-right">Ban</div>
        <div class="ui-g-4">{{leave.sectionSectionName}}</div>
    </div>
    <div class="ui-g">
      <label class="ui-g-2 text-right">Chức danh</label>
      <label class="ui-g-3">{{leave.chucDanh}}</label>

      <label class="ui-g-3 text-right">Phân loại</label>
      <label class="ui-g-4">Chính thức</label>
    </div>
    <div class="ui-g">
      <label class="ui-g-2 text-right">Thời gian nghỉ</label>
      <div class="ui-g-6">
        <p-calendar (ngModel)="value" dateFormat="dd/mm/yy"></p-calendar>       
      </div>
      <div class="col-md-4">
        <label>Tống số ngày nghỉ: 0.5</label>
        <label>Số ngày phép còn lại trong tháng: 08</label>
      </div>
    </div>
</div> -->

<div class="modal-body leave-form">

  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Mã nhân viên</label>
    <label class="col-md-3 col-form-label">{{nhanviennghiphep?nhanviennghiphep.maNV:''}}</label>

    <label class="col-md-3 col-form-label text-right">Họ và tên</label>
    <label class="col-md-4 col-form-label">{{nhanviennghiphep?nhanviennghiphep.fullName:''}}</label>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Phòng</label>
    <label class="col-md-3 col-form-label">{{nhanviennghiphep?nhanviennghiphep.departmentDeptName:''}}</label>

    <label class="col-md-3 col-form-label text-right">Ban</label>
    <label class="col-md-4 col-form-label">{{nhanviennghiphep?nhanviennghiphep.sectionSectionName:''}}</label>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Chức danh</label>
    <label class="col-md-3 col-form-label">Nhân viên</label>

    <label class="col-md-3 col-form-label text-right">Phân loại</label>
    <label class="col-md-4 col-form-label">Chính thức</label>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Thời gian nghỉ</label>
    
    <div class="col-md-3">
      <input type="date" class="form-control" (ngModel)="leaveForm.startTime">
      <div class="form-inline cus-time">
        <div class="form-control cus-time-left"></div>
        <div class="form-control cus-time-right"></div>
      </div>
    </div>

    <div class="col-md-3">
      <input type="date" class="form-control" (ngModel)="leaveForm.endTime">
      <div class="form-inline cus-time">
        <div class="form-control cus-time-left"></div>
        <div class="form-control cus-time-right"></div>
      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="form-inline leave-datetime-control">
        <input type="date" class="form-control">
        <input type="date" class="form-control">
        <select class="form-control">
            <option>08 : 00</option>
            <option>12 : 00</option>
            <option>13 : 00</option>
            <option>17 : 00</option>
          </select>
        <div class="form-control cus-time-checked"></div>
        <div class="form-control cus-time-not-checked"></div>
      </div>
      <div class="form-inline leave-datetime-control">
        <input type="date" class="form-control">
        <select class="form-control">
          <option>08 : 00</option>
          <option>12 : 00</option>
          <option>13 : 00</option>
          <option>17 : 00</option>
        </select>
      </div>
    </div> -->
    <div class="col-md-4">
      <label>Tống số ngày nghỉ: 0.5</label>
      <label>Số ngày phép còn lại trong tháng: 08</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Lý do nghỉ</label>
    <div class="col-md-10">
      <textarea class="form-control" name="textarea-input" rows="2" placeholder="Lý do nghỉ.."></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">NV thay thế</label>
    <div class="col-md-10">
      <ng-select [multiple]="true" [(ngModel)]="nhanvienthaythes">
        <ng-option *ngFor="let emp of employees" [value]="emp.id">{{emp.fullName}}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label text-right">Công việc thay thế</label>
    <div class="col-md-10">
      <textarea class="form-control" name="textarea-input" rows="2" placeholder="Lý do nghỉ.."></textarea>
    </div>
  </div>
  <div class="form-group row text-right">
    <label class="col-md-2 col-form-label">TB xét duyệt</label>
    <div class="col-md-4">
      <select class="form-control">
        <option value="0">---</option>
        <option value="1">Nguyễn Văn Bê</option>
        <option value="2">Nguyễn Văn Cê</option>
        <option value="3">Nguyễn Văn Rê</option>
      </select>

    </div>
    <label class="col-md-2 col-form-label text-right">TP xét duyệt</label>
    <div class="col-md-4">
      <select class="form-control">
        <option value="0">---</option>
        <option value="1">Nguyễn Văn Bê</option>
        <option value="2">Nguyễn Văn Cê</option>
        <option value="3">Nguyễn Văn Rê</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-12 col-form-label">
      <input type="checkbox">
      Tôi cam kết đã bàn giao toàn bộ công việc, tài liệu, hồ sơ liên quan trong thời gian nghỉ phép cho
      nhân viên thay thế. Đồng thời, sau thời gian nghỉ phép, tôi sẽ hoàn thành các công việc phát sinh.
      Rất mong nhận được sự chấp thuận từ ban Giám đốc.
      Xin chân thành cảm ơn.
    </label>
  </div>

  <div class="form-group row cus-action">
    <button class="btn btn-primary" type="button">Hủy đơn</button>
    <button class="btn btn-primary" type="button" (click)="sendForm()">Đăng ký</button>
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
  </div>

</div>